/* @font-face {
  font-family: tahoma_reg;
  src: url(./assets/font/TahomaRegularfont.ttf);
}

@font-face {
  font-family: tahoma_b;
  src: url(./assets/font/TAHOMAB0.TTF);
  font-weight: 900;
} */

body {
  background-color: #0b0b0b;
}

a,
a:focus {
  text-decoration: none;
}

.fc-light {
  color: #efefef;
}

.fc-primary {
  color: #CB9B61;
}

.navbar-custom .navbar-brand {
  width: 75px;
}

.navbar-custom .navbar-brand img {
  width: 100%;
}

.navbar-custom .navbar-toggler {
  background-color: #CB9B61;
  color: #efefef;
}

.navbar-custom .navbar-toggler-icon {
  display: flex;
  width: 1.5em;
  height: 1.5em;
  justify-content: center;
  align-items: center;
}

.navbar-custom .nav-item .nav-link,
.navbar-custom .nav-item .btn {
  color: #efefef;
  border-bottom: 3px solid transparent;
  transition: border 0.5s;
  margin: 0 5px;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .btn:hover {
  border-color: #CB9B61;
  transition: border 0.5s;
}

.navbar-custom .nav-item .nav-link.active,
.navbar-custom .nav-item .active.btn {
  border-bottom: 3px solid #CB9B61;
}

.search-bar {
  background-color: transparent;
  border: 1px solid #CB9B61;
  border-radius: 20px;
  overflow: hidden;
}

.search-bar .btn {
  background-color: #CB9B61;
}

.search-bar input {
  border: 0;
  color: #ffffff;
}

.search-bar input:hover {
  background-color: transparent;
}

.container-custom {
  min-height: 70vh;
}

@media (max-width: 767px) {
  .container-custom {
    min-height: auto;
  }
}

.box-shad-efect {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.card-custom {
  border-radius: 30px;
  background-color: #ffffff;
}

.input-custom {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.input-custom:focus {
  box-shadow: none;
  outline: none;
  background-color: transparent;
}

.input-custom-mnd {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.btn-one {
  background-color: #CB9B61;
  border-radius: 30px;
  border: 0;
  color: #000;
  white-space: nowrap;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
}

.btn-one:hover {
  background-color: transparent;
  color: #efefef;
  border: 1px solid #CB9B61;
}

.btn-two {
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #CB9B61;
  color: #ffffff;
  white-space: nowrap;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.btn-two:hover {
  background-color: #CB9B61;
  color: #000000;
  border-color: transparent;
}

.label-cust {
  background-color: #efefef;
  width: fit-content;
  border-radius: 20px;
  padding: 0 0.8rem;
}

.nav-secdry {
  border-bottom: 1px solid #CB9B61;
}

@media (max-width: 767px) {
  .nav-secdry {
    white-space: nowrap;
    overflow: auto;
    flex-wrap: nowrap;
  }
}

.nav-secdry .nav-link,
.nav-secdry .navbar-custom .nav-item .btn,
.navbar-custom .nav-item .nav-secdry .btn {
  color: #efefef;
  border-bottom: 3px solid transparent;
  transition: border 0.5s;
  margin: 0 0.3rem;
}

.nav-secdry .nav-link:hover,
.nav-secdry .navbar-custom .nav-item .btn:hover,
.navbar-custom .nav-item .nav-secdry .btn:hover {
  border-color: #CB9B61;
  transition: border 0.5s;
}

.nav-secdry .nav-link.active,
.nav-secdry .navbar-custom .nav-item .active.btn,
.navbar-custom .nav-item .nav-secdry .active.btn {
  border-bottom: 3px solid #CB9B61;
}

.card-collection {
  background-color: #000;
  overflow: hidden;
  border: 1px solid #CB9B61;
  box-shadow: -6px 0px 5px 3px #000;
}

.card-collection .card-header {
  padding: 0;
  position: relative;
}

.card-collection .card-header img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-collection .card-body {
  position: relative;
}

.card-collection .card-body .avtr {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #000000;
  border: 1px solid #CB9B61;
  overflow: hidden;
}

.card-collection .card-body .avtr img {
  width: 100%;
  object-fit: contain;
}

.vrfcd {
  color: #FBE09E;
  font-size: 0.7rem;
  padding-left: 5px;
}

.card-collection-prfl .card-header img {
  height: 200px;
}

.header_p {
  height: 200px;
  position: relative;
}

.header_p .banner-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.header_p .avtr {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #000000;
  position: absolute;
  bottom: -2rem;
  left: 2rem;
  background-color: #323232;
  box-shadow: 0px 5px 10px 0px #000000;
}

.header_p .avtr img {
  width: 100%;
  object-fit: contain;
}

.select-custom {
  background-color: transparent;
  border: 1px solid #CB9B61;
  border-radius: 20px;
  width: 25%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

@media (max-width: 767px) {
  .select-custom {
    width: 100%;
  }
}

.c-filters .icon-flt {
  width: 40px;
  height: 40px;
  border: 1px solid #CB9B61;
  border-radius: 20px;
  color: #CB9B61;
}

.icon-fltn {
  position: absolute;
  bottom: 0.3rem;
  font-size: 1.5rem;
  right: 0.5rem;
}

.card-nft .img-nft img {
  height: 400px;
  object-fit: cover;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */