

<div class="dashboard d-flex overflow-hidden positive-relative">
  <div class="d-flex align-items-start menu">
    <app-side-menu></app-side-menu>
  </div>
  <div class="dashboard-container">
    <div class="search">
      <app-search></app-search>
    </div>
    <app-filter filter2="none" filter3="flex"></app-filter>
    <div class="cards">
      <app-cards bg="1" title="NFT Vi-ain’s Pink1" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
      <app-cards bg="2" title="NFT Vi-ain’s Pink2" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
      <app-cards bg="3" title="NFT Vi-ain’s Pink3" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
      <app-cards bg="4" title="NFT Vi-ain’s Pink4" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
      <app-cards bg="5" title="NFT Vi-ain’s Pink5" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
      <app-cards bg="1" title="NFT Vi-ain’s Pink1" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
      <app-cards bg="2" title="NFT Vi-ain’s Pink2" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
      <app-cards bg="3" title="NFT Vi-ain’s Pink3" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
      <app-cards bg="4" title="NFT Vi-ain’s Pink4" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
      <app-cards bg="5" title="NFT Vi-ain’s Pink5" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
      <app-cards bg="1" title="NFT Vi-ain’s Pink1" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
      <app-cards bg="2" title="NFT Vi-ain’s Pink2" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
      <app-cards bg="3" title="NFT Vi-ain’s Pink3" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
      <app-cards bg="4" title="NFT Vi-ain’s Pink4" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
      <app-cards bg="5" title="NFT Vi-ain’s Pink5" eth="0,25" price="21.533.10" view="2.5" likes="2.5M"></app-cards>
    </div>
  </div>

</div>
