@import "../../../../../styles.scss";

.filter {
  span {
    font-weight: 500;
    color: #9498bd;
    font-size: 1.15rem;
    margin: 1.1rem 1rem 1.1rem 0;
    cursor: pointer;
    @media screen and (max-width: 767px) {
      font-size: 1.05rem;
    }
  }
  .active {
    color: #ffffff;
  }
}
.filter-3 {
  background-color: $color9;
  width: 82%;
  border-radius: 2rem;
}
