<div class="filter my-3 d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between " >
  <div class="filter-1 d-flex justify-content-center justify-content-sm-start">
    <span>Recently Added</span>
    <span class="active" routerLink="/collection">NFTs</span>
  </div>
  <div class="filter-2 justify-content-center justify-content-sm-end d-{{filter2}}">
    <span>View</span>
    <span class="active" routerLink="/collection">All</span>
  </div>
  <div class="filter-3 d-{{filter3}} justify-content-center justify-content-sm-start px-4">
    <span class="active" routerLink="/collection">All</span>
    <span>Pandarian</span>
    <span>Disruptive Land</span>
  </div>
</div>
