<div class="position-relative menu-all">

  <div id="menu" class="menu d-flex flex-column align-items-center position-fixed">
    <div class="toggle-menu position-absolute d-lg-none" (click)="menuActive()">
      <img class="" src="../../../../../assets/img/menu-open.png" alt="">
    </div>
    <img src="../../../../../assets/img/logo.svg" alt="">
  <div class="menu-data w-100">
    <h5 class="balance">Available Balance</h5>
    <p class="amount">213,150.15</p>
    <button class="coin">ETH</button>
    <div class="menu-data-money d-flex align-items-center justify-content-between">
      <div>
        <h5>Transactions</h5>
        <span class="money">34,305</span>
      </div>
      <div>
        <h5>Wallets</h5>
        <span class="money">34,305</span>
      </div>
    </div>
    <h5 class="activity">Last Activity at 25 Nov, 2021</h5>
    <button class="withdraw w-100">Retirar</button>
  </div>

  <ul class="menu-list ps-0 w-100 text-start">
    <li routerLink="/dashboard">
      <img src="../../../../../assets/img/dash/home.svg" alt="Dashboard"/>Dashboard
    </li>
    <li routerLink="/buy-and-sell">
      <img src="../../../../../assets/img/dash/buy.svg" alt="Buy & Sell"/>Buy & Sell
    </li>
    <li routerLink="/collection">
      <img src="../../../../../assets/img/dash/nft.svg" alt="NFT"/>NFT
    </li>
  </ul>
  <span class="logout w-100 h-100 d-flex align-items-end">
    <p class="w-100 text-start">
      <img src="../../../../../assets/img/dash/logout.svg" alt="Log Out"/>Log Out
    </p>

  </span>
  </div>
</div>
