<div class="mint-nft">
  <div class="mint-nft-bg position-relative">
    <app-header></app-header>
    <div class="langeClassSwitch position-absolute">
      <app-lang></app-lang>
    </div>
    <div class="mint-nft-bg2 row">
      <div class="col-12 col-lg-6 d-flex flex-column-reverse">
        <div class="mint-nft-box1-a mt-5 mt-sm-0">
          <h2>LIMITED FREE MINT</h2>
          <div class="mint-nft-box1-a-div1 d-flex flex-column flex-sm-row align-items-center justify-content-center">
            <h4>Vi-ain’s Mint</h4>
            <p>Please Connect Your Wallet</p>
          </div>
          <div class="mint-nft-box1-a-div2">
            <h6>How many do you want to mint?</h6>
          </div>
          <div class="mint-nft-box1-a-div3 d-flex flex-column flex-sm-row align-items-center justify-content-sm-evenly">
            <div class="position-relative mb-4 mb-sm-0">
              <span class="restar" (click)="restar()">-</span>
              <input type="number" [value]="valor" [(ngModel)]="valor" />
              <span class="sumar" (click)="sumar()">+</span>
            </div>

            <ng-container *ngIf="(dataStatus$ | async) as dataStatus; else connectWallet">
              <a href="javascript:void(0)" class="btn" (click)="mint()">Mint Now</a>
            </ng-container>


          </div>
        </div>
        <div class="mint-nft-box1-b d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between">
          <div class="box1 d-flex w-100 d-flex flex-column flex-sm-row">
            <div class="img d-flex align-items-center justify-content-center">
              <img src="../../../../assets/img/mint/mistery-box-2.png" alt="Mistery Box" />
            </div>
            <div class="d-flex flex-column justify-content-center ms-0 ms-sm-4 w-100 mt-5 mt-sm-0">
              <h6 class="text-center">Vi-ain’s Mistery Box</h6>
              <div class="d-flex supply justify-content-between mt-2">
                <h6>SUPPLY</h6>
                <h6>MAX</h6>
              </div> 
              <div class="d-flex supply-2 justify-content-between">
                <h6>5000</h6>
                <h6 class="d-flex flex-column justify-content-center">02
                  <span>Por Wallet</span>
                </h6>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-12 col-lg-6 position-relative d-flex align-items-center">
        <div class="mint-nft-box2">
          <app-mistery-box></app-mistery-box>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #connectWallet>
  <a href="javascript:void(0)" class="btn" (click)="connect()">
    Connect Wallet
  </a>
</ng-template>
